@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default global styles */
html button, html input, html select, html textarea {
    border: 1px solid grey;
    border-radius: .2rem;
    padding: .2rem;
    padding-left: .3rem;
    padding-right: .3rem;
    height: 2rem;
    background-color: transparent;
}

html table td {
    border: 1px solid lightgrey;
    padding: .2rem .5rem .2rem .5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

li {
    padding-left: .5rem;
    display: flex;
    align-items: center;
}
li::before {
    content: "-";
    margin-right: .5rem;
}
.button-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;
    font-size: .5rem;
    text-align: center;
}

.non-interactable {
    pointer-events: none;
    animation: hx-eased-loading .4s forwards;
}

@keyframes hx-eased-loading {
    to { opacity: .35; }
}

.skeleton {
    position: relative;
}

.skeleton:has(:not(*:defined))::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border-radius: 12px;
    background: linear-gradient(
        90deg,
        #f2f2f2 25%,
        #e8e8e8 50%,
        #f2f2f2 75%
    );
    background-size: 200% 100%;
    animation: skeletonLoading 2s infinite linear;
}

@keyframes skeletonLoading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}
